*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

header {
    font-size: 3rem;
    text-align: center;
}
.selectionMenu {
    display: flex; 
    flex-direction: row;
    
}

.selectionMenu  li {
list-style: none;
}

.selectionMenu  li a {
    text-decoration: none;
}