*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

header {
    font-size: 3rem;
    text-align: center;
}
.selectionMenu {
    display: flex; 
    flex-direction: row;
    align-items:  center;
     justify-content: space-around;
    
    
}

.selectionMenu  li {
list-style: none;

}

.selectionMenu  li a {
    text-decoration: none;
}

 .footer {
    
    background: #272727; 
    color: #fff;
} 
.footer-menu { 
    display: flex; 
    flex-direction: row;
}