*, body {
    margin: 0; 
    padding: 0; 

}


 .content{
     display: grid; 
     grid-template-areas: "ac ac del"
                           "on tw th fo  "
  
 }

 .ac {
    grid-area: ac;
 }
 .on{
grid-area:on
 }